
$title-font:'Fredoka One', cursive;
$main-font: 'Cabin', sans-serif;
//colors
$color-light-green: #AEF516;
$color-green: #5C9949;
$color-blue: #6FD8DC;
$color-dark-blue: #01758e;
$color-burgundy: #D04B84;
$text-gradient: linear-gradient(90deg, rgba(174,245,22,1) 0%, rgba(1,117,142,1) 50%, rgba(208,75,132,1) 100%);